*{
  margin: 0px;
  box-sizing: border-box;
}
.flex-fam{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tot{
  flex-direction: column;
}
.div-table{
  flex-direction: column;
}
.row-line{
  flex-direction: row;
}
.blank{
  width: 60px;
  height: 60px;
}
.top-line, .top-line2{
  font-size: 20px;
  width: 200px; 
  height: 60px;
}
.top-line{
  
}
.top-line2{

}
.left-line, .left-line2{
  transform: rotate(270deg);
  font-size: 20px;
  width: 60px;
  height: 200px;
}
.left-line{

}
.left-line2{

}
.l-t, .r-t, .l-d, .r-d{
  font-size: 40px;
  width: 200px;
  height: 200px;
  border: 1px black solid;
}
.l-t{
  font-weight: bold;
}
.r-t{
  font-weight: bold;
  
}
.l-d{

}
.r-d{

}
.main>p{
  margin-top: 50px;
  margin-left: 50px;
  font-size: 50px;
}